<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner color="primary"></mat-spinner>
</div>
<div class="app-container">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="white-text">menu</mat-icon>
    </button>
    <h1 class="linkify white-text" (click)="navigateHome()">SMX Tournament DB</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let route of accessibleRoutes"
          [routerLink]="[route.url]"
          (click)="sidenav.toggle()"
        >
          <mat-icon>{{ route.icon }}</mat-icon
          ><span class="routeText">{{ route.text }}</span>
        </a>
        <a
          *ngIf="isAuthenticated"
          mat-list-item
          (click)="logout(); sidenav.toggle();"
        >
        <mat-icon>exit_to_app</mat-icon>
        <span class="routeText">Logout</span>
      </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
