

mat-card {
  // background-color: $middleBlue;
  width: 25vw;
  border: 1px solid white;
}
.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
