<div class="admin-panel">
  <mat-card class="admin-panel-card">
    <mat-tab-group>
      <mat-tab label="Events">
        <app-form-wrapper>
          <div form-title>
            <h2>Events</h2>
          </div>
          <app-event-list></app-event-list>
        </app-form-wrapper>
      </mat-tab>
      <mat-tab label="Add/Edit Users for Existing Event">
        <app-form-wrapper>
          <div form-title>
            <h2>Add/Edit Users for Existing Event</h2>
          </div>
          <app-event-users-list></app-event-users-list>
        </app-form-wrapper>
      </mat-tab>
      <mat-tab label="Add/Edit Matches for Existing Event">
        <app-form-wrapper>
          <div form-title>
            <h2>Add/Edit Matches for Existing Event</h2>
          </div>
          <app-event-matches-list></app-event-matches-list>
        </app-form-wrapper>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
