<div class="admin-panel">
  <mat-card class="admin-panel-card">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Create New Event">
        <app-form-wrapper>
          <div form-title>
            <h2>Create New Event</h2>
          </div>
          <app-create-new-event-form></app-create-new-event-form>
        </app-form-wrapper>
      </mat-tab>
      <mat-tab label="Add/Edit Users for Existing Event">
        <app-form-wrapper>
          <div form-title>
            <h2>Add/Edit Users for Existing Event</h2>
          </div>
          <app-add-event-users-form></app-add-event-users-form>
        </app-form-wrapper>
      </mat-tab>
      <mat-tab label="Add/Edit Matches for Existing Event">
        <app-form-wrapper>
          <div form-title>
            <h2>Add/Edit Matches for Existing Event</h2>
          </div>
          <app-add-event-matches-form></app-add-event-matches-form>
        </app-form-wrapper>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
