:host {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.form-card {
  width: 100%;
  margin: 20px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  box-sizing: border-box;
}
