<div class="two-column-layout">
  <div class="form-column">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Event</mat-label>
          <mat-select id="event" formControlName="event">
            <mat-option *ngFor="let event of (events$ | async)" [value]="event">
              {{ event.name }} ({{ event.date | date:'shortDate' }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('event')?.hasError('required')">
            Event is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gamertag</mat-label>
          <input matInput id="gamertag" formControlName="gamertag" type="text" [disabled]="!userForm.get('event')?.value" />
          <mat-error *ngIf="userForm.get('gamertag')?.hasError('required')">
            Gamertag is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Seed</mat-label>
          <input matInput id="seed" formControlName="seed" type="number" [disabled]="!userForm.get('event')?.value" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Place</mat-label>
          <input matInput id="place" formControlName="place" type="number" [disabled]="!userForm.get('event')?.value" />
          <mat-error *ngIf="userForm.get('place')?.hasError('required')">
            Place is required
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Submitting...' : 'Submit' }}
      </button>
    </form>
  </div>
  <div class="list-column">
    <app-event-users-list [eventId]="selectedEventId"></app-event-users-list>
  </div>
</div>
